{
    margin: 0
}
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

header {
    background-color: aquamarine;
    padding: 15px;
    border: rgb(249, 229, 10) 5px solid;
    height: 100px
}

nav {
    background-color: rgb(106, 255, 136) ;
    border: rgb(249, 229, 10) 5px solid;
    padding: 15px;
    height: 25px
}

nav a {
    font-size: 20px;
    height: 25vh;
}

nav a:hover {
    text-decoration: underline
}