body, ul{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#Coffee-Coffee {
    font-size: 25px;
}

ul {
    display:flex;
    padding-left: 0;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex;
    align-items: center;
    height: 5vh;
    gap: 50px;
    padding: 20px;
}

ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style: none;
}

.dropdown-menu {
    background-color: darkgray;
    position: absolute;
    opacity: 0;
    flex-direction: column;
    display: flex;
    height: 150px;
}

.trigger-dropdown:hover .dropdown-menu {
    opacity: 2;
}

nav {
    background-color: rgb(102, 255, 0);
    font-weight: 600;
    font-size: 1rem
}

h3 {
    font-size: 25px;
}